* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;  
    width: 100%;
    background-color: rgb(80, 81, 79);
    display: flex;
    margin: 0;
    padding: 0;
}

#logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: auto;
    height: 90px;
}

.main-nav {
    height: 100%;
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

.main-nav__item {
    display: inline-block;
    height: 100%;
    margin-left: 50px;
}

.main-nav__item a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.main-nav__item a:hover {
    color: #B8B8FF;
}

.main-nav__item a:active {
    color: #BF1A2F;
}